/* CSS declarations go here */
$red:red;

$green:#BBE797;
$blue:#97CAE7;
$gold:#FFD433;

$green_alt:darken($green,15%);
$blue_alt:darken($blue,15%);
$gold_alt:darken($gold,15%);

* {
	margin : 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}
body {
	background: #f2f2f2;
	color:      #555555      ;
	font-family:Helvetica,Arial , sans-serif   ;
	font-size: 1.6rem;
}

input, button, select{
	font-size: 1.6rem;
}

h1{
	font-weight: 300;
   	font-size: 2.4rem;
}

@import './components/title-bar';
@import './components/item';
@import './components/wrapper';
@import './components/button';
@import './components/player';
@import './components/form';