.item {
	background: #ffffff; /* blanco add player*/
	border:  1px solid #e8e8e8;     /*color de la letra add player*/
	margin-bottom: 1.3rem; /**/
	padding: 1.3rem;   	


}

.item__message{
	color: blue;
	font-size: 1.3rem;
	font-style: italic;
	font-weight: 300;
	text-align: center;   
}
/* BEM  Block, Element, Modifier*/

.item__position_1{
	background: $gold;
	border-color: $gold_alt;
}

.item__position_2{
	background: $green;
	border-color: $green_alt;
}

.item__position_3{
	background: $blue;
	border-color: $blue_alt;	
}